<div class="parents-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" alt="Powered by The Learning Experience&#8482;" src="//cdn.bubblesu.com/images/parent_page/parent-page-tlelogo.jpg">
            </div>
        </div>
        <div class="row parent-grid">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/bubbles-blog/going-green-a-lesson-on-how-to-reduce-reuse-and-recycle" target="_blank"><img class="img-responsive center-block" alt="Going Green: A Lesson on How to Reduce, Reuse, and Recycle! On Earth Day, we should all reflect on how much of an impact each of us has in protecting our enviornment. Your family can start or continue green habits at home by making use of the 3 R's (Reduce, Reuse, and Recycle)" src="//cdn.bubblesu.com/images/parent_page/parent-page-goinggreen.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="https://thelearningexperience.com/bubbles-blog/sleepy-time-sleeping-tips-for-toddlers" target="_blank"><img class="img-responsive center-block" alt="Sleeping Tips for Toddlers. Sleepy Time: Sleeping Tips for Toddlers: Don't hit the panic button if the time springing forward has your little one springing into a cranky mood! After being in the childcare industry for over 30 years, we have mastered a few techniques..." src="//cdn.bubblesu.com/images/parent_page/parent-page-sleeping-time-toddlers.jpg"></a>
            </div>
             <div class="clearfix visible-sm-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/bubbles-blog" target="_blank"><img class="img-responsive center-block" alt="Bubbles Blog: Looking for updates, news and all around fun articles? Check out Bubbles' Blog!" src="//cdn.bubblesu.com/images/parent_page/parent-page-bubbles-blog.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/bubbles-blog/ways-to-nurture-philanthropy-lessons-with-your-child-at-home" target="_blank"><img class="img-responsive center-block" alt="Philanthropy: Ways to Nurture Philanthropy Lessons with Your Child at Home. It's never too early for children to learn lessons about sharing and giving, a belief we hold onto strongly to at The Learning Experience&#174;. In today's fast-paced, media-driven world, it can be overwhelming to pinpoint where to start..." src="//cdn.bubblesu.com/images/parent_page/parent-page-philanthropy.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/bubbles-blog/flexis-pumpkin-banana-smoothie" target="_blank"><img class="img-responsive center-block" alt="Recipes: Flexi's Pumpkin Banana Smoothie. Looking for a healthy snack and a great way to use all of that leftover pumpkin from the holiday? Flexi Flamingo&#174;, our health conscious pal, loves nothing more than a healthy and tasty snack that will make her preschool friends say 'more, please'!" src="//cdn.bubblesu.com/images/parent_page/parent-page-recipes.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/our-centers/find" target="_blank"><img class="img-responsive center-block" alt="Find a TLE&#174; center near you! About The Learning Experience&#174;: The Learning Experience&#174; provides children with a foundation for the future through a unique proprietary curriculum and all-inclusive enrichment programs that inspire children to learn, play and grow in a fun and nurturing environment." src="//cdn.bubblesu.com/images/parent_page/parent-page-find-a-tle.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="http://thelearningexperience.com/" target="_blank"><img class="img-responsive center-block" alt="More Information: To find out more about enrolling at The Learning Experience&#174;. The foundation of The Learning Experience&#174; was built on three key educational and care principles: cognitive, physical, and social; or as we say at TLE&#174;, 'learn, play, and grow!'" src="//cdn.bubblesu.com/images/parent_page/parent-page-more-info.jpg"></a>
            </div>
        </div>
    </div>
</div>

<div id="contentWrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="//cdn.bubblesu.com/images/parent_page/parent-page-latest-activities.jpg" alt="As a member of BubblesU.com, keep a look-out for the latest new activities and apps each month!">
            </div>
        </div>
    </div>
</div>
