/**************************
 * Top Menu
 **************************/

/*************************
 * My Buddies
 *************************/
.badge {
    background-color: red;
}

/*************************
 * Bubbles Spinner
 *************************/
.spinner-title {
    color: #FFF;
}

#grass {
    width: 100%;
    background-image: url('../img/background/grass-background-repeat.jpg');
    height: 30%;
    left: 0px;
    position: absolute;
    top: 83%;
    z-index: 0;
}

/***************************
 * Main Content / Character Pages
 ***************************/

/****** Owl Slider ******/
.owl-carousel {
    width: 640px;
}
.owl-item:first-child {
    margin-left: 40px;
}
.slider-panel {
    position: relative;
}

.slider-thumbnail {
    height: 111px;
    width: 140px;
}
#colorModalSlider.owl-carousel {
    width: 300px;
}
#colorModalSlider .owl-item:first-child {
    margin-left: 60px;
}
#colorModalSlider .slider-panel {
    position: relative;
}

#colorModalSlider .slider-thumbnail {
    height: 350px;
    width: 180px;
    margin: 0 auto;
}

#colorModalSlider .owl-controls {
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    margin:0;
}
#colorModalSlider .owl-theme .owl-controls .owl-buttons div {
    /*color: transparent;
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 0;
    font-size: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    filter: Alpha(Opacity=1);
    opacity: 1;*/
}
#colorModalSlider .owl-prev,
#colorModalSlider .owl-next {
    position: absolute;
    width: 60px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
}
.thumbnail-share-button,
.thumbnail-love-button,
.thumbnail-play-button {
    position: absolute;
    bottom: 5px;
    height: 28px;
}
.thumbnail-share-button {
    left: 25%;
}
.thumbnail-love-button {
    left: 50%;
}
.thumbnail-play-button {
    left: 75%;
}

.owl-controls {
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    margin:0;
}
.owl-theme .owl-controls .owl-buttons div {
    /*color: transparent;
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 0;
    font-size: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    filter: Alpha(Opacity=1);
    opacity: 1;*/
}
.owl-prev,
.owl-next {
    position: absolute;
    width: 40px;
    height: 111px;
    background-size: contain;
    background-repeat: no-repeat;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

#videosSlider .owl-prev
{
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-purple.png');
}
#videosSlider .owl-next
{
    background-image: url('//cdn.bubblesu.com/images/sliders/right-arrow-purple.png');
}

#colorModalSlider .owl-prev {
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-purple-tall.png');
}
#colorModalSlider .owl-next {
    background-image: url('//cdn.bubblesu.com/images/sliders/right-arrow-purple-tall.png');
}

#gamesSlider .owl-prev {
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-orange.png');
}
#gamesSlider .owl-next {
    background-image: url('//cdn.bubblesu.com/images/sliders/right-arrow-orange.png');
}

#colorSlider .owl-prev {
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-blue.png');

}
#colorSlider .owl-next {
    background-image: url('//cdn.bubblesu.com/images/sliders/right-arrow-blue.png');
}

#musicSlider .owl-prev {
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-yellow.png');

}
#musicSlider .owl-next {
    background-image: url('//cdn.bubblesu.com/images/sliders/right-arrow-yellow.png');
}

#readingSlider .owl-prev {
    background-image: url('//cdn.bubblesu.com/images/sliders/left-arrow-green.png');

}
#readingSlider .owl-next {
    background-image: url('../img/sliders/right-arrow-green.jpg');
}

@media (max-width: 991px) {
    .owl-carousel{
        width: 500px;
    }
}

@media (min-width: 530px) and (max-width: 768px) {
    .owl-carousel {
        width: 360px;
    }
}

@media (max-width: 529px) {
    .owl-carousel{
        width: 184px;
    }
    .owl-item:first-child {
        margin-left: 32px;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        width: 32px;
        height: 111px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .owl-prev {
        background-position-x: -4px;
    }
    .owl-next {
        background-position-x: -3px;
    }

    .slider-thumbnail {
        height: 111px;
        width: 120px;
    }
    .thumbnail-share-button {
        left: 12.5%;
    }
    .thumbnail-love-button {
        left: 37.5%;
    }
    .thumbnail-play-button {
        left: 62.5%;
    }
}

/********************************
 * Reading Corner
 *********************************/

#readingCorner {
    background-image: url('//cdn.bubblesu.com/images/background/readingcorner-background-grey.jpg');
}

/********************************
 * Modals (Video/Game/Reading/Music/Coloring)
 * style="text-align:center;height:300px;"
 *********************************/

/* All Modals */
.modal-container {
    border-color: orange;
    background-color:white;
    border-style:solid;
    border-radius:30px;
    border-width:10px;"
}

.modal-content{
    border: none;
    background-color: transparent;
}

/* Signup Modal */
.signup-header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* Videos Slider */
.modal-dialog,
.modal-content,
.modal-body {
    overflow: hidden;
}


.modal-title {
    color: orange;
    font-family: 'KBPlanetEarth', 'Comic Sans', sans-serif;
    font-size: 4em;
    text-shadow: 2px 2px rgba(200,200,200,0.5);
    -webkit-text-stroke: 1px white;
}

.video-player {
    float: left;
    position: relative;
    width: 90%;
}
.video-big-play {
    position: absolute;
    left: 35%;
    bottom: 35%;
    width: 30%;
    cursor: pointer;
}

.video-controls {
    position: absolute;
    width: 5%;
    margin: auto 2.5%;
    top: 17%;
    right: 0%;
}

.video-menu {
    padding-left: 0;
}

.video-menu li {
    list-style: none;
    margin: 0.5em 0;
}

.video-menu li img {
    height: 36px;
    width: 36px;
    cursor: pointer;
}

@media ( min-width: 768px ) {
    .video-modal .modal-dialog {
        width: 70%;
    }
}

/* Games */
.game-modal .modal-dialog {
    background-color: orange;
}

.game-frame {
    height: 600px;
    width: 600px;
}

@media( min-width: 650px ) {
    .game-modal .modal-dialog {
        width: 650px;
        border-radius: 6px;
    }
}


/* Coloring Slider */

#colorModalSlider {
    margin: 0 auto;
}


#coloringPages #printButton img {
    left: 25px;
    bottom: 25px;
    position: relative;
}

#coloring-page {
    height: 800px;
    width: 650px;
}

img.coloring-page {
    width: 200px;
}

.modal-content #printButton {
    position: relative;
    left: 20px;
    bottom: 20px;
}

#coloringPages .modal-content,
#cutOuts .modal-content,
#mazes .modal-content,
#puzzles .modal-content {
    border: 10px solid #f4a81c;
    border-radius: 10px;
}

#coloringPagesSlider .carousel-control.left {
    left: unset !important;
}

#coloringPagesSlider .carousel-control.right {
    left: unset !important;
}

#paperAirplanesSlider img.paper-airplane {
}
